:root {
    --color1: #cfe1b9;
    /* Color de fondo de la página */
    --color2: #87bba2;
    /* Color de fondo de los elementos */
    --color3: #55828b;
    /* Color del texto */
    --color4: #3b6064;
    /* Color del texto en el pie de página */
    --color5: #364958;
    /* Color del borde del botón */
    --color6: rgba(0, 0, 0, 0.635);
    /* Color del botón */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    background: #87BBA2;
    background: linear-gradient(329deg, rgba(135, 187, 162, 1) 0%, rgba(85, 130, 139, 1) 50%, rgba(207, 225, 185, 0.48) 100%);
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 25px;
    margin: 20px 0;
    padding: 10px;
}

article p {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 20px 5px;
    padding: 10px;
}

section h1 {
    text-align: center;
    font-size: 50px;
    margin: 20px 0;
}

h3 {
    text-decoration: underline;
    font-size: 30px;
    margin: 20px 0;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
}

/* --------- LOGOTIPO ----------- */
nav .encabezado img {
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.eslogan {
    text-align: center;
    font-size: 50px;
    padding: 20px;
}

/* ---------- ESTILO PARA IMAGENES ------------- */
article img:hover {
    transform: translate(0, -10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    padding: 10px;
}

/* NAVEGACION */
/* ----------- IMAGEN BARRA NAVEGACION ------------ */
.bg-body-tertiary {
    background-image: url(./img/atardecer_pinos.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.navbar-expand-lg .navbar-collapse {
    flex-direction: column;
    align-items: center;
}

.navbar-toggler {
    border: white solid 3px;
}

li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: 5px;
    padding: 10px;
}

.container-fluid {
    width: 100%;
    height: 100%;
    margin: 0 10px;
}

/* ----- PANTALLA PRINCIPAL - INDEX -------- */
.proyectos article img {
    border-radius: 3%;
    width: 80%;
    height: 30%;
    margin: 5px 0;
}

.proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px 0;
    padding: 10px;
}

.proyectos article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----- EMPRENDIMINETOS ------- */
.emprendimiento article iframe {
    width: 100%;
    height: 250px;
}

.emprendimiento article p {
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
    align-items: flex-start;
}

.emprendimiento {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px 0;
    padding: 10px;
}

.progress,
.progress-stacked {
    height: 30px;
    margin: 10px 0;
}

/* ------- NUESTRO EQUIPO -------- */
.empleados img {
    border-radius: 50%;
    width: 30%;
    height: 30%;
    margin: 10px 5px;
}

.empleados article {
    display: flex;
    flex-direction: row-reverse;
}

#sofia {
    display: flex;
    flex-direction: row;
}

/* ------ IMAGENTES DE SERVICIOS ------- */
.servicios article img {
    mask-image: linear-gradient(black 80%, transparent);
    width: 80vw;
    height: 50vh;
}

.servicios article {
    display: flex;
}

.servicios article p {
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
    align-items: center;
    text-align: left;
    justify-content: center;
}

/* ------- CONTACTO ------- */
.mapa {
    width: 95%;
    height: 70vh;
    padding: 5px;
    margin: 10px 25px;
    border-radius: 1%;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    align-items: center;
}

label {
    display: block;
    margin: 5px 5px;
    font-size: 25px;
    text-decoration: underline;
}

input {
    display: block;
    width: 50%;
    height: 5vh;
}

#mensaje {
    width: 50%;
    height: 100px;
}

input[type="submit"] {
    font-size: 25px;
    background-color: var(--color5);
    color: white;
    border: solid var(--color5) 2px;
    padding: 1px;
    margin: 10px;
}

input[type="submit"]:hover {
    background-color: var(--color5);
    color: white;
    border: solid var(--color3) 2px;
    cursor: pointer;
}

/* -------- IMAGENES DE REDES y PIE -------- */
.redes {
    display: grid;
    grid-template-columns: 10%;
    align-items: baseline;
    justify-content: space-around;
}

.redes img {
    width: 50%;
    height: 90%;
    margin: 5px 5px;
}

.pie p {
    padding: 0.2%;
    background-color: var(--color6);
    color: white;
    text-align: center;
}

/* ------- BOTON DE CONSULTA -------- */
a button {
    padding: 3px;
    font-size: 30px;
    background-color: var(--color5);
    color: white;
    border: solid var(--color5) 2px;
}

a button:hover {
    background-color: var(--color5);
    color: white;
    border: solid var(--color3) 2px;
    cursor: pointer;
}

/* .botones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 30px;
    margin: 10px 10px;
} */

/*--------- BOTON DE WHATSAPP --------- */
.float-wa {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 60px;
    right: 60px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 50px;
    z-index: 100;
}

@media screen and (max-width: 1024px) {
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

@media screen and (max-width: 768px) {
    .proyectos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .emprendimiento {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    a button {
        font-size: 20px
    }

    nav {
        display: flex;
        text-align: center;
        align-items: center;
    }

    .emprendimiento {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .empleados article {
        display: block;
        text-align: center;
    }

    .servicios article {
        display: block;
        text-align: center;
    }

    #sofia {
        flex-direction: column;
        align-items: center;
    }
}