* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #cfe1b9;
  --color2: #87bba2;
  --color3: #55828b;
  --color4: #3b6064;
  --fondoBotones: #364958;
  --color6: rgba(0, 0, 0, 0.635);
}

@media screen and (max-width: 1024px) {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}
@media screen and (max-width: 768px) {
  .proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .emprendimiento {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
  }
  .servicios article {
    display: block;
    text-align: center;
  }
  .empleados article {
    display: block;
    text-align: center;
  }
  #sofia {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  input[type=submit] {
    font-size: 15px;
  }
  input {
    width: 90%;
  }
  #mensaje {
    width: 90%;
  }
  .float-wa {
    font-size: 30px;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
  }
  article p {
    font-size: 14px;
  }
  p {
    font-size: 18px;
  }
  section h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  .eslogan h4 {
    font-size: 28px;
  }
}
@media screen and (max-width: 480px) {
  a button {
    font-size: 20px;
  }
  nav {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .emprendimiento {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .eslogan h4 {
    font-size: 20px;
  }
}
body {
  display: grid;
  background: #87BBA2;
  background: linear-gradient(329deg, rgb(135, 187, 162) 0%, rgb(85, 130, 139) 50%, rgba(207, 225, 185, 0.48) 100%);
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

p {
  font-size: 24px;
  margin: 20px 0;
  padding: 10px;
}

article p {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 20px 5px;
  padding: 10px;
}

section h1 {
  font-weight: 900;
  text-align: center;
  font-size: 50px;
  margin: 20px 0;
}

h3 {
  text-decoration: underline;
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
}

h2 {
  font-weight: 600;
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
}

/* ---------- ESTILO PARA IMAGENES ------------- */
article img:hover {
  transform: translate(0, -10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
  padding: 10px;
}

@media screen and (max-width: 1024px) {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}
@media screen and (max-width: 768px) {
  article p {
    font-size: 14px;
  }
  p {
    font-size: 18px;
  }
  section h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  .proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  .servicios article {
    display: block;
    text-align: center;
  }
  .emprendimiento {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .eslogan h4 {
    font-size: 28px;
  }
}
/* --------- LOGOTIPO ----------- */
nav .encabezado img {
  width: 180px;
  height: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.eslogan h4 {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  margin: 3%;
  padding: 30px;
  animation: bounce 5s infinite;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* ----------- IMAGEN BARRA NAVEGACION ------------ */
.bg-body-tertiary {
  background-image: url(../../img/atardecer_pinos.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: column;
  align-items: center;
}

.navbar-toggler {
  border: white solid 3px;
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin: 5px;
  padding: 10px;
}

.container-fluid {
  width: 100%;
  height: 100%;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .eslogan h4 {
    font-size: 28px;
  }
}
@media screen and (max-width: 448px) {
  .eslogan h4 {
    font-size: 20px;
  }
}
/* ------- BOTON DE CONSULTA -------- */
a button {
  padding: 3px;
  font-size: 30px;
  background-color: var(--fondoBotones);
  color: white;
  border: solid var(--fondoBotones) 2px;
}
a button:hover {
  background-color: var(--fondoBotones);
  color: white;
  border: solid var(--fondoBotones) 2px;
  cursor: pointer;
}
a button:hover {
  background-color: var(--fondoBotones);
  color: var(--color3);
  border: solid var(--fondoBotones) 4px;
  cursor: pointer;
}

/*--------- BOTON DE WHATSAPP --------- */
.float-wa {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 60px;
  right: 60px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 50px;
  z-index: 100;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@media screen and (max-width: 768px) {
  .float-wa {
    font-size: 30px;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
  }
}
.proyectos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 10px 0;
  padding: 10px;
}
.proyectos article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proyectos article div img {
  border-radius: 3%;
  width: 80%;
  height: 30%;
  margin: 5px 0;
}

ul li a:hover {
  color: var(--color3);
}

@media screen and (max-width: 1024px) {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}
@media screen and (max-width: 768px) {
  .proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  a button {
    font-size: 20px;
  }
  nav {
    display: flex;
    text-align: center;
    align-items: center;
  }
}
.emprendimiento {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin: 1vh 0;
  padding: 1vh;
}
.emprendimiento article p {
  font-size: 20px;
  margin: 10px 0;
  padding: 10px;
  align-items: flex-start;
}
.emprendimiento iframe {
  width: 100%;
  height: 250px;
}

.progress,
.progress-stacked {
  height: 30px;
  margin: 10px 0;
}

.progress-bar {
  background-color: var(--color2);
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 17px;
  border-color: black;
}

@media screen and (max-width: 1024px) {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}
@media screen and (max-width: 768px) {
  .emprendimiento {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  a button {
    font-size: 20px;
  }
  nav {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .emprendimiento {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.empleados img {
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 10px 5px;
}

.empleados article {
  display: flex;
  flex-direction: row-reverse;
}

#sofia {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1024px) {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}
@media screen and (max-width: 768px) {
  .empleados article {
    display: block;
    text-align: center;
  }
  #sofia {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  a button {
    font-size: 20px;
  }
  nav {
    display: flex;
    text-align: center;
    align-items: center;
  }
}
.servicios article {
  display: flex;
}
.servicios article img {
  mask-image: linear-gradient(black 80%, transparent);
  width: 80%;
  height: 50vh;
  object-fit: cover;
  padding: 3px;
}
.servicios article p {
  margin: 5% 0;
  padding: 2%;
  align-items: center;
  text-align: left;
  justify-content: center;
}

.servicios h2 {
  color: var(--fondoBotones);
  text-decoration: underline;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}
@media screen and (max-width: 768px) {
  .servicios article {
    display: block;
    text-align: center;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  .eslogan h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  a button {
    font-size: 20px;
  }
  nav {
    display: flex;
    text-align: center;
    align-items: center;
  }
}
.mapa {
  width: 90%;
  height: 70vh;
  padding: 1%;
  margin: 5% 5%;
  border-radius: 1%;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 10px;
  align-items: center;
}

label {
  display: block;
  margin: 5px 5px;
  font-size: 25px;
  text-decoration: underline;
}

input {
  display: block;
  width: 50%;
  height: 5vh;
}

#mensaje {
  width: 50%;
  height: 100px;
}

input[type=submit] {
  font-size: 22px;
  background-color: var(--fondoBotones);
  color: white;
  border: solid var(--fondoBotones) 2px;
  margin: 10px;
}
input[type=submit]:hover {
  background-color: var(--fondoBotones);
  color: white;
  border: solid var(--color3) 2px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}
@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  input[type=submit] {
    font-size: 15px;
  }
  input {
    width: 90%;
  }
  #mensaje {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  a button {
    font-size: 20px;
  }
  nav {
    display: flex;
    text-align: center;
    align-items: center;
  }
}
.redes {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: baseline;
  background-color: var(--color2);
}
.redes img {
  width: 12%;
  height: 70%;
}

.pie p {
  padding: 0.2%;
  margin-top: 1%;
  background-color: var(--color6);
  color: white;
  text-align: center;
  min-height: 80%;
}

/*# sourceMappingURL=style.css.map */
