.redes {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
    background-color: var(--color2);

    img {

        width: 12%;
        height: 70%;
    }
}

.pie p {
    padding: 0.2%;
    margin-top: 1%;
    background-color: var(--color6);
    color: white;
    text-align: center;
    min-height: 80%;
}