.redes {
    display: flex;
    justify-content: center;
    background-color: var(--color2);

    img {
        width: 50px;
    }

    p {
        margin: 0;
    }
}

.pie p {
    padding: 0.2%;
    margin-top: 1%;
    background-color: var(--color6);
    color: white;
    text-align: center;
    min-height: 80%;
}

@media screen and (max-width: 768px) {
    .redes img {
        width: 30px;
    }
}